
.square {
	border-style: solid;
	border-width: 1px;
	width: 100px;
	height: 100px;
	text-align: center;
	line-height: 100px;
	font-size: 50px;
}

.row {
	margin: auto;
	display: flex;
}

.board {
	display: flex;
	flex-direction: column;
}

.game {
	text-align: center;
}
